            <div class="col-md-9">
                                  <div class="image">
                                          {{ if .Params.banner }}
                                          <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" 
                                           class="desc-img img-responsive" alt="Params.title">
                                          {{ end }}
                                  </div>
                                    
             <p class="text-muted mb-small"><br><br>{{ if .Params.description }}{{ .Params.description }}{{ end }}</p>
                                 </div>